@tailwind base;
@tailwind components;
@tailwind utilities;

/* .background {
  @apply bg-white dark:bg-gradient-to-tr dark:to-[#340f35] dark:from-[#000000] text-zinc-950 dark:text-white;
}  */
.background {
  @apply bg-zinc-100/50 dark:bg-[#0a0b0e] text-zinc-950 dark:text-white;
}
.background-text {
  @apply dark:text-zinc-300 text-zinc-700;
}

.surface {
  @apply bg-gray-900/50;
}

.surface-text {
  @apply dark:text-zinc-300/80 text-zinc-700;
}

.surface-border {
  @apply border-[#6e706f]/50;
}

.primary {
  @apply bg-pink-700;
}

.primary-opacity {
  @apply bg-pink-700/30;
}

.primary-text {
  @apply text-pink-700;
}
.primary-border {
  @apply border border-pink-700;
}

.hover {
  @apply hover:bg-pink-700/10  dark:hover:bg-pink-700/10 dark:text-zinc-300;
}

.styles {
  animation: animate 0.4s linear forwards;
}

@keyframes animate {
  from {
    color: white;
  }
  to {
    color: white;
  }
}

::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  width: 0;
  background-color: transparent;
}
